<div class="main-container__navbar navbar row mx-auto">
  <div class="navbar__menu-area menu-area col-12 col-md-6 d-flex flex-column">
    <div class="menu-area__title pb-3">
      <h2>Your referrals</h2>
    </div>
    <div class="menu-area__menu">
      <a href="#">In Triage</a>
      <a href="#">Completed</a>
      <a href="#">Drafts(1)</a>
      <a href="#">Rejected</a>
      <a href="#">Discharged</a>
      <a href="#">Archived</a>
    </div>
  </div>
  <div class="navbar__search-area search-area col-12 col-md-6 d-flex flex-column align-items-md-end">
    <div class="search-area__input-area input-area d-flex flex-column align-items-md-end">
      <div class="input-area__sign">
       <input class="form-control input-area__input mb-3" type="search" placeholder="tst0000422" aria-label="default input example">
      </div>
      <button class="input-area__btn btn rounded-pill px-4 btn_dark" type="submit">Submit Referral</button>
    </div>
  </div>
</div>
