<div class="main-container__content-part content-part mx-auto">
  <div class="content-part__head head row d-flex flex-row flex-nowrap mx-auto">
    <div class="col-5">
     <button type="button" class="head__btn rounded-pill btn_light">Back to Dashboard</button>
    </div>
    <div class="col-7">
     <h3 class="head__title ">tst000422</h3>
    </div>
  </div>
  <div class="content-part__content content row d-flex flex-row flex-md-nowrap overflow-scroll mx-auto">
    <div class="content__patient-information patient-information col-lg-5 col-12 pe-5">
      <h4 class="patient-information__title information-title">Patient GP Information</h4>
      <div class="patient-information__list list row">
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">URN:</span>
            <span class="col-6 list__value">TST0000422</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Patient:</span>
            <span class="col-6 list__value">dasdas sadsadsad</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Patient`s DOB:</span>
            <span class="col-6 list__value">11/11/90</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Referral Entered the System:</span>
            <span class="col-6 list__value">16/10/20</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Practice Adress:</span>
            <span class="col-6 list__value">test_practice</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Practece Telephone:</span>
            <span class="col-6 list__value"></span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Referral Reason:</span>
            <span class="col-6 list__value">Urgent 2WW Referral</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Clinical Activity:</span>
            <span class="col-6 list__value"></span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Receiver:</span>
            <span class="col-6 list__value"></span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Radiographs:</span>
            <span class="col-6 list__value text-danger">No</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Primary care choice:</span>
            <span class="col-6 list__value">Urgent 2WW Referral</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Secondary care choice:</span>
            <span class="col-6 list__value">Urgent 2WW Referral</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Tertiary care choice:</span>
            <span class="col-6 list__value">Urgent 2WW Referral</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Triagle Date:</span>
            <span class="col-6 list__value">Urgent 2WW Referral</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Comments to Referrer:</span>
            <span class="col-6 list__value">Urgent 2WW Referral</span></li>
          <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">Comments from Triager:</span>
            <span class="col-6 list__value">Urgent 2WW Referral</span></li>
      </div>
    </div>
    <div class="content__patient-history patient-history col-lg-7 col-12">
      <div class="patient-history__list list row">
        <h4 class="information-title">Referrals Status History</h4>
        <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">16 Oct 2020</span>
          <span class="col-6 list__value">Received</span></li>
        <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">16 Oct 2020</span>
          <span class="col-6 list__value">Sent to: Ainttree Hschospital 16 Oct 2020, 09:12 Provider referral</span></li>
        <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">16 Oct 2020</span>
          <span class="col-6 list__value">Rejected: No X-Ray (<a class="list__link" href="#">Rejection letter</a>)</span></li>
        <li class="row d-flex flex-row flex-nowrap"><span class="col-6 list__key">16 Oct 2020 <span class="badge">current status</span></span>
          <span class="col-6 list__value">Rejected: No X-Ray (<a class="list__link" href="#">Rejection letter</a>)</span></li>
        <button class="btn rounded-pill btn_dark ms-auto me-5 my-3 col-2" type="submit">Re-submit forms</button>
      </div>
      <div class="patient-history__file-list file-list d-flex flex-column">
        <h4 class="file-list__title information-title">Attachments</h4>
        <a href="" class="file-list__link list__link">TST0000422_2YahNationalUrgentReferralForm.pdf</a>
        <a href="" class="file-list__link list__link">YST0000422_MedicalHistoryForm.pdf</a>
      </div>
      <div class="patient-history__file-list patient-history__file-list_last file-list d-flex flex-column">
        <h4 class="file-list__title information-title">All Rejection Letters</h4>
        <a href="" class="file-list__link list__link">Rejection Letter(16/10/20, 14:29) <span class="badge">latest rejection letter</span></a>
        <a href="" class="file-list__link list__link">Rejection Letter(16/10/20, 15:29)</a>
        <a href="" class="file-list__link list__link">Rejection Letter(16/10/20, 09:21)</a>
        <a href="" class="file-list__link list__link">Rejection Letter(16/10/20, 09:13)</a>
      </div>
    </div>
  </div>
  <div class="content-part__footer footer d-flex justify-content-center mx-auto">
    <button type="button" class="rounded-pill btn_light me-3">Download attachments as single PDF</button>
    <button type="button" class="rounded-pill btn_light">Add information</button>
  </div>

